/* -------------------------------------------------------------- 
  
 Hartija Css Print  Framework
   * Version:   1.0 
	 
-------------------------------------------------------------- */

@import url("http://fonts.googleapis.com/css?family=Roboto:500,700,400");
body { 
width:100% !important;
line-height: 1.45; 
font-family: Roboto, serif; 
color: #000; 
background: none; 
font-size: 14pt; }

/* Headings */
h1,h2,h3,h4,h5,h6 { page-break-after:avoid; }
h1{font-size:19pt;}
h2{font-size:17pt;}
h3{font-size:15pt;}
h4,h5,h6{font-size:14pt;}


p, h2, h3 { orphans: 3; widows: 3; }
p {page-break-inside: avoid;}

code { font: 12pt Courier, monospace; } 
blockquote { margin: 1.2em; padding: 1em;  font-size: 12pt; }
hr { background-color: #ccc; }

/* Images */
img { float: left; margin: 1em 1.5em 1.5em 0; max-width: 100% !important; }
a img { border: none; }

/* Links */
a:link, a:visited { background: transparent; font-weight: 700; text-decoration: underline;color:#333; }
a:link[href^="http://"]:after, a[href^="http://"]:visited:after { content: " (" attr(href) ") "; font-size: 90%; }

abbr[title]:after { content: " (" attr(title) ")"; }

/* Don't show linked images  */
a[href^="http://"] {color:#000; }
a[href$=".jpg"]:after, a[href$=".jpeg"]:after, a[href$=".gif"]:after, a[href$=".png"]:after { content: " (" attr(href) ") "; display:none; }

/* Don't show links that are fragment identifiers, or use the `javascript:` pseudo protocol .. taken from html5boilerplate */
a[href^="#"]:after, a[href^="javascript:"]:after {content: "";}

/* Table */
table { margin: 1px; text-align:left; }
th { border-bottom: 1px solid #333;  font-weight: bold; }
td { border-bottom: 1px solid #333; }
th,td { padding: 4px 10px 4px 0; }
tfoot { font-style: italic; }
caption { background: #fff; margin-bottom:2em; text-align:left; }
thead {display: table-header-group;}
img,tr {page-break-inside: avoid;} 

/* Hide various parts from the site
#header, #footer, #navigation, #rightSideBar, #leftSideBar 
{display:none;}
*/
/** Resume print style sheet. Attempts to make the page similar, but better looking on paper. */
body, p, ul, h4 { margin: 0; padding: 0 2.8em 0 0; }

body { background-color: white; color: black; font-family: Futura;}

.download { display: none; }

#resume { font-size: 8pt; }
#resume a, #resume a:visited { color: black; text-decoration: none; }
#resume h1, #resume h2, #resume h3, #resume h4, #resume h5, #resume h6 { border: 0 !important; }
#resume h1 { font-size: 170%; }
#resume h1:first-child { font-size: 210%; }
#resume h2 { font-size: 150% }
#resume h3 { margin-top: 0.6em; font-size: 130%; margin-bottom: 0; }
#resume h4 { margin-top: 0.4em; font-size: 115%; margin-bottom: 0; text-align: right; }
#resume p { margin: 0.6em 0; line-height: 1.3em; text-align: justify; }
#resume blockquote { border: 0 !important; margin: 0.5em 0 !important; padding-left: 0.6em !important; }
#resume blockquote p { margin: 0.2em 0; }
#resume ul, #resume ol { margin: 1em 0 1em 2em; }
#resume ul li, #resume ol li { margin-top: .5em; margin-bottom: .5em; }
#resume ul ul, #resume ul ol, #resume ol ul, #resume ol ol { margin-top: 0; margin-bottom: 0; }
#resume a, #resume a:visited { text-decoration: none; }
#resume a:hover { text-decoration: underline; }
#resume pre { margin: 1em 0; font-size: 12px; border: 1px solid #dedede; padding: .5em; line-height: 1.5em; overflow: auto; }
#resume pre code { padding: 0; font-size: 12px; border: none; }
#resume code { font-size: 12px; padding: 0 .2em; border: 1px solid #dedede; }
#resume img { display: none; }
#resume blockquote { margin: 1em 0; border-left: 5px solid #ddd; padding-left: .6em; }
#resume dt { font-weight: bold; margin-left: 1em; }
#resume dd { margin-left: 2em; margin-bottom: 1em; }
#resume h1,h2,h3,h4,h5,h6 { font-family: Garamond;}
#resume h2 {
  color: black;
  text-shadow: none;
  box-shadow: none;
  background: none;
  padding-bottom: 0em;
  text-decoration: underline;
  text-align: left;
  border-bottom: 2px solid #dedede;
}
#andrew-bolster + ul li {display: inline}
#andrew-bolster + ul { list-style-type: none}
#andrew-bolster + ul li:after{ content:", "}
#andrew-bolster + ul li:last-child:after{ content:""}

/*# sourceMappingURL=print.css.map */
