---
layout: page
title: Blog
group: navigation
---
{% include JB/setup %}
<div class="posts">
  {% for post in site.posts %}
  <div class="post" >
    <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
    <p class="author" style="text-align: right;">
    <span class="date">{{ post.date  | date_to_string}}</span>
    </p>
    <div class="content align-center">
      {% assign truncatedContent = '' %}
      {% assign paragraphs = post.content | split:'</p>' %}
      {% for paragraph in paragraphs limit:2 %}
        {{ truncatedContent | append: paragraph | strip_html | strip_newlines }}
        {% if forloop.last %}
          {{ truncatedContent | append: '&hellip;</p>' }}
        {% else %}
          {{ truncatedContent | append: '</p>' }}
        {% endif %}
      {% endfor %}
    </div>
    <a href="{{ post.url }}", style="font-weight: bold">Read More</a>
  </div>
  {% endfor %}
</div>
